// ===============css reset======================
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #f5f7fa;
}

// =================global Variable decleration=================


:root{
    --primaryTextColor:#242933;
    --themeColor:#415fff;
    --staticColor:#ffffff;
}


// =================nav starts===================


nav{
   height: 86px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0 60px;
   position: fixed;
   z-index: 10;
   top: 0;
   transition: background-color 0.5s ease;
   
   

    .mobile-togglebar{
        display: none;
        height: 100%;
       .hamberger{
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 24px;
        color: var(--staticColor);
       }

    }

    .logo{
        svg{
            width: 104px;
            height: 100%;
            transition: fill 0.3s ease;
            fill: var(--staticColor);
            &:hover{
                fill:var(--themeColor);
            }
          
        }
    }

    .nav-list{
       
        ul{
            height: 100%;
            display: flex;
            
            li{
               height: 100%;
               display: flex;
               align-items: center;
               padding: 0 15px;
               a{
                font-size: 14px;
                font-weight: 600;
                color: var(--staticColor);
                transition: color 0.2s ease;
               }
               &:hover a{
                color:var(--themeColor);
               }
            }
        }
    }
    

    .search-login{
        ul{
            display: flex;
            height: 100%;
            align-items: center;
             svg{
                stroke:var(--staticColor);
                width: 28px;
                margin-left: 35px;
                transition: stroke .3s ease;
             }
            li:hover svg{
                stroke:var(--themeColor);
            }
        }
    }


}




// =================nav Ends===================

// ================Hero section=================


.hero{
    position: relative;
    .hero-image{ 
        width: 100%;
    }
    .hero-info{
        position: absolute;
        left: 75px;
        top: 30%;
        width: 70%;
        color: #fff;
        h2{
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 40px;
        }
        h3{
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 50px;
        }
        h4{
            font-size: 25px;
            font-weight: 400;
        }
    }

}

// ================Hero section ends=================//



// ================product section starts===================
.product-section{
    width: 100%; 
    padding: 80px;


    .product{
        margin: auto;
        position: relative;
        img{
            width: 100%;
            border-radius: 20px;
            transition: transform 0.7s ease ;
            
            &:hover{
                transform: scale(1.01);
            }
        }
        
    }
    // ===========product info common style========
    .product-info{
        position: absolute;
        top: 50%;
        width: 70%;
        transform: translateY(-50%);
        left: 100px;
        h2{
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 40px;
        }
        h3{
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 50px;
        }
        h4{
            font-size: 25px;
            font-weight: 400;
        }
    }
    .product-info.x100{
        color: #fff;
        left: 60%;
        width: 37%;
    }
    // ===========product info common style Ends========
    
}
// ================product section starts===================
.section{
    .wrapper{
        display: flex;
        justify-content: space-around;
        width: 100%;
        .product{
            width: 30%;
        }

       .y200,.v29pro{
         border-radius: 30px;
         width: 100%;
         margin: 15px 0px;
        
       }
       .t2pro, .tws{
        border-radius: 30px;

        width: 100%;
        
       }
       .v29e{
        border-radius: 30px;
        width: 100%;
       }
       .v29e,.t2pro,.tws,.y200,.v29pro{
        transition: transform 0.7s ease;
        &:hover{
            transform: scale(1.05);
        }
        
       }


    }
   
}
// ================product section ends===================

// ================footer section starts===================
footer{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #242933;
   padding: 80px 50px 0px 50px;

    .footer-links{
        
       .list{
        display: flex;
        color: #fff;
        h4{
            font-size: 20px;
        }
       .head{
            width: 200px;
            ul{
                color: #8a8f99;
                li{
                   transition: color 0.3s ease;
                   line-height: 40px;
                    &:hover{
                        color: var(--themeColor);
                    }
                }
                
            }
        }
       }
    }
    .footer-mobno{
        h5{
            margin-top: 10px;

        }
    }
    .icons{
        display: flex;
        li{
            margin-right: 10px;
        }
    }
    .terms{
        color: #8a8f99;
        font-weight: 400;

        font-size: 13px;
        padding: 10px;
    }

}
// ================footer section ends===================